<div ng-cloak>
    <div class="row">

        <div class="col-md-8">
            <h1>Welcome, Stuff Player!</h1>
            <p class="lead">This is your homepage</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>


            </div>


        </div>
    
    <button type="button" class="btn btn-primary" ng-click="vm.createGameDialog()">Create Game</button>
    
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span >Name</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="game in vm.games track by game.name">
                    <td>{{game.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
        
    </div>
</div>
